.slider-main{

    .carousel .control-arrow {
        outline: 0;
        border: 0;
        background: rgba(16, 11, 11, 0.447) !important;
        top: 50%;
        margin-top: -13px;
        font-size: 18px;
    }

    .carousel {
        position: relative;
        width: 100%;
        height: 250px !important;
    }
}